.MainChat
  .GroupInfo
    .name
      test
      .member
        member masa
    .edit
      .btn
        = link_to "#" do
          edit
  .Message--list
    .list1
      .list1--name
        masa
      .list1--date
        2019/11/20[Wed] 17:43:01
    .massege1
      おはよう！
    .list2
      .list2--name
        masa
      .list2--date
        2019/11/20[Wed] 17:43:34
    .massege2
      今日は夜から雨
  .Message--form
    %form.new-message
      .input_box
        %input{type: "text", class: "input_box-text", placeholder: "Type a message"}
        %label{class: "input_box-img"}
          = icon('fas', 'image')
          %input{type: "file", class: "input_box-img__file"}
      .send_btn
        Send