.SideBar
  .UserName
    .TopItems
      .TopItems--name
        masa
      .TopItems--icons
        .edit
          = link_to "#" do
            = icon('fas', 'edit')
        .cog
          = link_to "#" do
            = icon('fas', 'cog')
  .SideBar__GroupList
    .items
      .name
        techcamp
      .message
        メッセージ